/* 咨询天地 */
#information .article {
  background: #e8e8e8;
}
#information .information {
  padding-bottom: 50px;
}
#information .information .meun {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
}
#information .information .meun ul li {
  margin: 10px 0;
  list-style: none;
  width: 300px;
  height: 50px;
  float: none;
  line-height: 50px;
  text-align: center;
  margin-left: 20px;
  display: inline-block;
}
#information .information .meun ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  border: 1px solid #d5d5d5;
  font-size: 14px;
}
#information .information .meun ul li:hover a {
  background: #d8000b;
  border: 1px solid #d8000b;
  color: #fff;
}
#information .information .meun ul li.active a {
  background: #d8000b;
  border: 1px solid #d8000b;
  color: #fff;
}
#information .information .articleList {
  width: 100%;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  padding-top: 10px;
}
#information .information .articleList ul li:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-left: 2.4%;
  margin-bottom: 2.4%;
  margin-top: 0;
}
#information .information .articleList ul li {
  transition: box-shadow 500ms;
  -webkit-transition: box-shadow 500ms;
  width: 20%;
  float: left;
  height: auto;
  overflow: hidden;
  display: block;
  background: #fff;
  margin-left: 2.4%;
  padding: 1%;
  margin-bottom: 2.4%;
}
#information .information .articleList ul li a:hover {
  box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
  margin-top: -5px;
  margin-bottom: 5px;
}
#information .information .articleList ul li {
  width: 22%;
  padding: 0;
  overflow: visible;
  background: transparent;
}
#information .information .articleList ul li a {
  display: block;
  padding: 10px;
  transition: all .3s;
  -webkit-transition: all .3s;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}
#information .information .articleList ul li b {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  display: block;
}
#information .information .articleList ul li h2 {
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
#information .information .articleList ul li p {
  padding-top: 15px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 24px;
  padding-top: 20px;
  margin-bottom: 30px;
  line-height: 25px;
  color: #666;
  height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#information .information .more-btn {
  color: #dc1721;
  padding-left: 2px;
  display: inline-block;
}
