/* 登录页面 */
#login {
  overflow: hidden;
  width: 100%;
  position: relative;
  min-width: 1200px;
}
#login .img-wrap {
  width: 1920px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#login .login_box {
  position: absolute;
  right: 20%;
  top: 0%;
  width: 22%;
  padding-top: 3%;
}
#login .login_box h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}
#login .login_box .login_from {
  background: #fff;
  opacity: 0.9;
  height: auto;
  padding: 8%;
}
#login .login_box .login_from .accountLogin {
  display: block;
}
#login .login_box .login_from .accountLogin h1 {
  color: #040404;
  font-weight: normal;
  text-align: center;
  font-family: 微软雅黑;
  font-size: 18px;
}
#login .login_box .login_from .accountLogin h1 b {
  color: #c6c5c3;
  font-size: 12px;
}
#login .login_box .login_from .accountLogin .codeLoginText {
  width: 100%;
  height: 32px;
  clear: both;
  padding-top: 10%;
}
#login .login_box .login_from .accountLogin .codeLoginText a {
  background-position: 0px -143px;
  height: 30px;
  line-height: 30px;
  float: right;
  padding-left: 10px;
  color: #767270;
}
#login .login_box .login_from .accountLogin .codeLoginText a i {
  width: 20px;
  height: 25px;
  font-size: 14px;
  margin-right: 2px;
  color: #d8000b;
  font-weight: 900;
}
#login .login_box .login_from .accountLogin .codeLoginText a:hover {
  color: red;
}
#login .login_box .login_from .accountLogin .item {
  height: auto;
  overflow: hidden;
  position: relative;
}
#login .login_box .login_from .accountLogin .item input {
  padding-left: 10%;
  font-family: 微软雅黑;
  font-weight: normal;
}
#login .login_box .login_from .accountLogin .automatic {
  clear: both;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
#login .login_box .login_from .accountLogin .automatic a:hover {
  color: red;
}
#login .login_box .login_from .accountLogin .login_btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-top: 15px;
}
#login .login_box .login_from .accountLogin .login_btn button {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  font-size: 18px;
  font-family: 微软雅黑;
  letter-spacing: 5px;
  padding-left: 5px;
  cursor: pointer;
  background: #d8000b;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
#login .login_box .login_from .accountLogin .err {
  height: auto;
  color: #d8000b;
  line-height: 30px;
  text-align: center;
  padding-top: 25%;
}
#login .login_box .login_from .notAccount {
  text-align: right;
}
#login .login_box .login_from .notAccount a {
  color: #ed000c;
}
#login .login_box .login_from .notAccount a:hover {
  text-decoration: underline;
}
