/* 标准定制0 */
#standard {
  min-width: 1200px;
  background: #fff;
}
#standard .personality_content {
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-family: 微软雅黑;
  font-size: 36px;
  color: #ffffff;
  font-weight: normal;
  background: #a87e41;
  padding-bottom: 5px;
}
#standard .personality_content h4 {
  font-size: 24px;
  font-weight: normal;
  font-family: 微软雅黑;
}
#standard .standard_content {
  line-height: 45px;
  font-weight: 100;
}
#standard .personality_sj {
  width: 19px;
  height: 10px;
  margin: 0px auto;
}
#standard .personality_sj img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
#standard .personality .title {
  width: 100%;
  display: block;
  clear: both;
  height: auto;
  overflow: hidden;
  margin-top: 35px;
}
#standard .personality .title b {
  background: #9e9e9e;
  width: 18px;
  height: 18px;
  border-radius: 8px;
  display: block;
  float: left;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
  line-height: 15px;
  color: #fff;
  font-weight: normal;
}
#standard .personality .title h2 {
  float: left;
  padding-left: 5px;
  font-size: 30px;
  font-family: 微软雅黑;
  font-weight: normal;
}
#standard .personality .personality_a .content {
  border: 1px solid #e5e5e5;
  height: auto;
  overflow: hidden;
  margin-top: 30px;
}
#standard .personality .personality_a .content ul li {
  width: 33%;
  float: left;
  height: 60px;
  border-left: 1px solid #eaeaea;
  margin-top: 25px;
  margin-bottom: 25px;
}
#standard .personality .personality_a .content ul li h2 {
  color: #a87e41;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-family: 微软雅黑;
  font-weight: normal;
  line-height: 50px;
}
#standard .personality .personality_b .content {
  border: 1px solid #e5e5e5;
  height: auto;
  overflow: hidden;
  margin-top: 25px;
}
#standard .personality .personality_b .content ul li.color {
  background: url(../img/color.jpg) center no-repeat;
  height: 90px;
}
#standard .personality .personality_b .content ul li.specification {
  background: url(../img/specification.jpg) center no-repeat;
  height: 90px;
}
#standard .personality .personality_b .content ul li:nth-child(1) {
  border-left: 0px;
}
#standard .personality .personality_b .content ul li {
  width: 49.9%;
  text-align: center;
  float: left;
  height: auto;
  overflow: hidden;
  border-left: 1px solid #eaeaea;
  margin-top: 25px;
  margin-bottom: 25px;
}
#standard .personality .personality_c .content {
  height: 181px;
  padding: 35px 0px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  margin-top: 25px;
}
#standard .personality .personality_e .content {
  border: 1px solid #e5e5e5;
  height: auto;
  overflow: hidden;
  margin-top: 25px;
}
#standard .personality .personality_e .content ul li:nth-child(1) {
  border-left: 0px;
}
#standard .personality .personality_e .content ul li {
  width: 24.8%;
  float: left;
  margin-top: 25px;
  margin-bottom: 25px;
  border-left: 1px solid #e5e5e5;
}
#standard .personality .personality_e .content ul li h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5d5;
  color: #a87e41;
  text-align: center;
  width: 80%;
  margin: 0px auto;
}
#standard .personality .personality_e .content ul li .standard_text {
  width: 80%;
  padding-top: 10px;
  margin: 0 auto;
  color: #737373;
  text-align: center;
}
#standard .personality .personality_e .content ul li .standard_text span {
  font-size: 36px;
  display: inline-block;
  font-weight: 100;
}
#standard .personality .personality_e .content ul li .standard_text p {
  display: inline-block;
  vertical-align: bottom;
  font-weight: lighter;
  padding-bottom: 1px;
  font-size: 18px;
}
#standard .personality .personality_e .content ul li {
  width: 33%;
}
#standard .personality .personality_d .content {
  border: 1px solid #e5e5e5;
  height: auto;
  overflow: hidden;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
  margin-bottom: 80px;
}
#standard .personality .personality_d .content h3 {
  font-size: 18px;
  color: #737373;
  font-weight: normal;
  border-bottom: 1px solid #e5e5e5;
  margin: 0px auto;
  width: 260px;
  line-height: 40px;
}
#standard .personality .personality_d .content h2 {
  font-weight: normal;
  font-size: 24px;
  color: #a87e41;
  padding-top: 5px;
}
#standard .personality .personality_d .content p {
  font-size: 18px;
  font-weight: normal;
  color: #a87e41;
  padding-top: 5px;
}
#standard .personality_bg {
  height: 1000px;
  width: auto;
  overflow: hidden;
  position: relative;
}
#standard .personality_bg .personality_bg .personality_sj {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 999;
  opacity: 1;
}
#standard .personality_bg .personality_bg .personality_sj img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
#standard .personality_bg .personality_bg_content {
  width: 1200px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -600px;
  background: #000;
  opacity: 0.65;
  height: 1000px;
  z-index: 9;
}
#standard .personality_bg .process {
  width: 1200px;
  margin: 0px auto;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -600px;
  z-index: 10;
}
#standard .personality_bg .process ul {
  margin-top: 140px;
  margin-bottom: 100px;
  height: auto;
  overflow: hidden;
}
#standard .personality_bg .process ul li {
  float: left;
  width: 33%;
  height: 350px;
}
#standard .personality_bg .process ul li .title {
  padding-top: 160px;
  border-bottom: 1px solid #fff;
  height: auto;
  overflow: hidden;
  width: 70%;
  margin: 0px auto;
  padding-bottom: 15px;
}
#standard .personality_bg .process ul li .title b {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: #fff;
  color: #242424;
  float: left;
  text-align: center;
  margin-top: 8px;
}
#standard .personality_bg .process ul li .title h2 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  float: left;
  padding-left: 8px;
}
#standard .personality_bg .process ul li p {
  font-family: 新宋体;
  font-size: 13px;
  font-weight: normal;
  line-height: 25px;
  color: #cccccc;
  width: 70%;
  margin: 0px auto;
  padding: 0px;
}
#standard .personality_bg .process ul li.process_1 {
  background: url(../img/process_1.png) center top 15px no-repeat;
}
#standard .personality_bg .process ul li.process_1 b {
  margin-left: 50px;
}
#standard .personality_bg .process ul li.process_4 {
  background: url(../img/process_4.png) center top no-repeat;
}
#standard .personality_bg .process ul li.process_4 b {
  margin-left: 70px;
}
#standard .personality_bg .process ul li.process_3 {
  background: url(../img/process_3.png) center top no-repeat;
}
#standard .personality_bg .process ul li.process_3 b {
  margin-left: 70px;
}
#standard .personality_bg .process ul .line {
  height: 80px;
  border-top: 1px solid #9b9b9b;
  width: 90%;
  margin-left: 5%;
  float: left;
}
#standard .personality_bg .process ul li.process_5 {
  background: url(../img/process_5.png) center top 45px no-repeat;
}
#standard .personality_bg .process ul li.process_5 b {
  margin-left: 70px;
}
#standard .personality_bg .process ul li.process_6 {
  background: url(../img/process_6.png) center top 18px no-repeat;
}
#standard .personality_bg .process ul li.process_6 b {
  margin-left: 70px;
}
#standard .standard_per_title {
  background: #e9e9e9;
  padding-top: 50px;
}
#standard .standard_per_title ul {
  padding: 50px 0;
  text-align: center;
}
#standard .standard_per_title ul li {
  margin-right: 10px;
  background: #fff;
  opacity: .5;
  display: inline-block;
  float: none;
}
#standard .standard_per_title ul li:hover {
  opacity: 1;
}
/* 标准定制page1/2/3页面 */
@media screen and (max-width: 1500px) {
  .standardPage .nav-banner {
    right: 11px !important;
  }
  .standardPage .left-side,
  .standardPage .right-side {
    width: 40% !important;
  }
}
.standardPage {
  margin-top: 75px;
}
.standardPage .content-box {
  text-align: center;
  position: relative;
  overflow: hidden;
  font-size: 0;
}
@keyframes myopacityImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.standardPage .content-box .img-wrap img {
  width: 100%;
  animation: myopacityImg 3s;
}
@keyframes shapeAni {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
.standardPage .content-box .img-wrap .shapeAniDisplay {
  animation: shapeAni 7s ease-in-out infinite;
  transform-origin: left center;
}
.standardPage .content-box .img-wrap .top-img {
  position: absolute;
  left: 0;
  top: 10px;
}
@keyframes leaf_ani {
  0% {
    transform: translateZ(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(500%, 1000%, 0) rotate(-180deg);
    opacity: 0;
  }
}
.standardPage .content-box .img-wrap .top-img .leaf_1 {
  width: 33px;
  right: 85px;
  bottom: 109px;
  animation-duration: 3s;
  animation: leaf_ani 5.5s ease-in-out infinite;
}
.standardPage .content-box .img-wrap .top-img .leaf_2 {
  width: 28px;
  right: 18px;
  bottom: 75px;
  animation-duration: 5s;
  animation: leaf_ani 5.5s ease-in-out infinite;
}
.standardPage .content-box .img-wrap .top-img .leaf_3 {
  right: 47px;
  width: 20px;
  bottom: 87px;
  animation-duration: 6s;
}
.standardPage .content-box .img-wrap .top-img .leaf_4 {
  right: 55px;
  width: 15px;
  bottom: 77px;
  animation-duration: 8s;
}
.standardPage .content-box .img-wrap .top-img div {
  position: absolute;
}
.standardPage .content-box .img-wrap .left-img {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
@keyframes cloud-move-ani {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(20%, 30%, 1px);
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 1px);
    opacity: 0;
  }
}
.standardPage .content-box .img-wrap .left-img .cloud-move-ani-display {
  animation: cloud-move-ani 11s linear infinite;
}
@keyframes ship_ani {
  0% {
    transform: translate3d(-30px, 0, 0);
  }
  50% {
    transform: translate3d(30px, 0, 0);
  }
  100% {
    transform: translate3d(-30px, 0, 0);
  }
}
.standardPage .content-box .img-wrap .zhenpin-ship.left-img {
  width: 193px;
  bottom: 45px;
  left: 180px;
  animation: ship_ani 6s ease-in-out infinite;
}
.standardPage .content-box .img-wrap .right-img {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.standardPage .content-box .img-wrap .bottom-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.standardPage .content-box .inner-box {
  width: 1200px;
  margin: 0 auto;
  padding: 160px 0;
  position: relative;
  height: 815px;
  box-sizing: border-box;
}
.standardPage .content-box .inner-box .left-side {
  vertical-align: top;
  padding: 0 3.5%;
  box-sizing: border-box;
  display: inline-block;
}
.standardPage .content-box .inner-box .left-side img {
  height: auto;
  width: 100%;
}
.standardPage .content-box .inner-box .right-side {
  vertical-align: top;
  text-align: left;
  display: inline-block;
}
.standardPage .content-box .inner-box .right-side .desc-box {
  font-size: 15px;
}
.standardPage .content-box .inner-box .right-side div.active {
  display: block !important;
}
.standardPage .content-box .inner-box .right-side h2 {
  font-size: 30px;
  margin: 5px 0;
  font-weight: 400;
}
.standardPage .content-box .inner-box .right-side .five {
  color: #555;
  font-size: 15px;
}
.standardPage .content-box .inner-box .right-side p {
  line-height: 1.8;
  letter-spacing: 2px;
}
.standardPage .content-box .inner-box .right-side .font-yellow {
  color: #a87e41;
  font-size: 24px;
  margin: 5px 0;
  font-weight: 400;
}
.standardPage .content-box .inner-box .right-side .tanzi-detail {
  color: #707070;
  font-size: 13px;
}
.standardPage .content-box .inner-box .right-side .tanzi-detail p {
  line-height: 1.8;
  letter-spacing: 2px;
}
.standardPage .content-box .inner-box .right-side .tanzi-detail span {
  display: inline-block;
  vertical-align: top;
}
.standardPage .content-box .inner-box .right-side .tanzi-detail b {
  color: #d8000b;
  letter-spacing: 0;
  font-size: 22px;
  line-height: 1;
}
.standardPage .content-box .inner-box .right-side .tanzi-detail .right-price {
  display: inline-block;
}
.standardPage .content-box .inner-box .right-side .seven {
  color: #707070;
  font-size: 13px;
}
.standardPage .content-box .inner-box .right-side .make-now {
  font-size: 24px;
  background: #d8000b;
  width: 199px;
  line-height: 46px;
  border: 0;
  color: #fff;
  margin: 25px 0;
  display: block;
  text-align: center;
  text-decoration: none;
}
.standardPage .nav-banner {
  width: 82px;
  position: absolute;
  right: -125px;
  top: 160px;
}
.standardPage .nav-banner ul li {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 65px;
  background: #d7d7d7;
  margin: 2px 0;
  cursor: pointer;
}
.standardPage .nav-banner ul li:hover {
  background: #d8000b;
  color: #fff;
}
.standardPage .nav-banner ul li.nav_banner_active,
.standardPage .nav-banner ul .standard-page .nav-banner li:active,
.standardPage .nav-banner ul .standard-page .nav-banner li:focus,
.standardPage .nav-banner ul .standard-page .nav-banner li:hover {
  background: #d8000b;
  color: #fff;
}
